*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


body#loginbody{
    background: url('../Image/store.jpg') no-repeat center center fixed;
    background-size: cover;
}
body{
    font-family: Arial;
}

div.login-header{
    text-align: center;
}
div.login-header{
    margin-bottom: 60px;
}
div.login-header h1{
    font-size: 100px;
    color: pink;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
div.login-header h3{
    color: whitesmoke;
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
    display: inline-block;
}
div.login-header h3::after{
    content: '';
    display: block;
    height: 5px;
    background: pink;
    
    margin: 0 auto;
}
div.login-body form{
    margin: 0 auto;
    width: 400px;
    background: rgb(0,0,0,.5);
    padding:  40px;
    border: 2px solid pink;
    border-radius: 8px;
}
div.login-input-container{
    margin-top: 30px;
    font-style: italic;
    color: whitesmoke;
}
div.login-input-container label{
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
   
}
div.login-input-container input{
    height: 25px;
    width: 100%;
    border: 2px solid pink;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
div.login-button-container{
margin-top: 40px;
text-align: center;
}
div.login-button-container button {
    font-size: 20px;
    padding: 10px 40px;
    background: pink;
    border: none;
    color: black;
    }



    div.header{
        width: 100%;
        background: pink;
        text-align: right;
        padding: 10px 0px;
    }

    div.header a{
        font-size: 20px;
        text-decoration: none;
        padding: 5px 10px;
        color: white;
       border: 2px solid transparent;
       border-bottom: 2px solid pink;
    }
    div.header a:hover{
        border-radius: 5px;
        border: 2px solid white;
    }
div.banner{
    background: url('../Image/port.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 100px;
    height: 100vh;
}
div.homepagecontainer{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    
}
div.bannerheader h1{
    font-size: 100px;
    color: pink;
    line-height: 80px;
}
div.bannerheader p{
    font-size: 30px;
    color: whitesmoke;
    text-transform: uppercase;
    
}
p.bannertagline{
    font-size: 25px;
    color: whitesmoke;   
}
div.bannericons{
    margin-top: 50px;
}
div.bannericons a{
    font-size: 25px;
    margin-left: 40px;
    padding: 7px 15px;
    background: rgb(0,0,0,.5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    color: white;
}
div.bannericons a:first-child{
    margin-left: 0px;
}
div.bannericons a:hover{
    color: pink;
    background: black;
}
div.homepagefeatures{
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
}
div.homepagefeature{
    padding: 10px 20px;
    text-align: center;
}
div.homepagefeature:hover{
    border-top: 2px solid pink;
    border-bottom: 2px solid pink;
    transition: 0.5s all;
}
div.homepagefeature span.featureicon{
    height: 80px;
    width: 80px;
    display: inline-block;
    font-size: 45px;
    background: pink;
    color: white;   
    padding-top: 5px;
    border-radius: 50%;
    margin-bottom: 20px;
}
div.homepagefeature h3.featuretitle{
    margin-bottom: 20px;
    font-size: 20px;
}
div.homepagefeature p.featuredescript{
    color: black;
    font-size: 15px;
}
div.homepagenoti{
    background: whitesmoke;
    padding: 80px 0px;
}
div.homepagenoticontainer{
    display: flex;
    flex-direction: row;
}
div.emailform h3{
    font-size: 25px;

}
div.emailform{
    width: 40%;
    
}
div.video{
    width: 60%;
    text-align: center;
}
div.homepagenoti h3{
    margin-bottom: 20px;
}
div.homepagenoti p{
    color: black;
    line-height: 200%;
    margin-bottom: 30px;
}
div.formcontainer{
    width: 80%;
    position: relative;
    
}
div.formcontainer input{
    width: 100%;
    padding: 15px 0px;
    border-radius: 15px;
    border: none;
}
div.formcontainer input:focus{
    outline: none;
}
div.formcontainer button{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 22px;
    padding: 0px 10px;
    background: pink;
    border: none;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

iframe{
    width: 80%;
   height: 100%;
}

div.social{
    text-align: center;
    padding: 70px 0 40px 0;
}
h3.socialheader{
    font-size: 28px;
}
p.socialtext{
    margin-top: 20px;
    margin-bottom: 25px;
    color: black;
    font-size: 15px;
}
div.socialiconcontainer a{
    font-size: 23px;
    height: 50px;
    width: 50px;
    display: inline-block;
    background: whitesmoke;
    padding-top:  7px;
    border-radius: 50%;
    color: black;
    margin-left: 20px;
   

}
div.socialiconcontainer a:hover{
    background: pink;
    transition: 0.3s all;
}

div.footer{
    background: whitesmoke;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
div.footer a{
    color: black;
    margin-left: 30px;
    text-decoration: none;
}
div.footer a:hover{
    font-weight: bold;
    color: pink;
    transition: 0.5s all;
}


#dashboardmaincontainer{
    display: flex;
    flex-direction: row;
}
div.dashboard_sidebar{
    width: 30%;
    background: whitesmoke;
    height: 100vh;
}
div.dashboard_content_container{
    width: 90%;

}
h3.dashboard_logo{
    color: pink;
    font-size: 50px;
    text-align: center;
}
div.dashboard_sidebar_user{
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid pink;
}
div.dashboard_sidebar_user img{
    width: 60px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 5px;
    vertical-align: middle;
}
div.dashboard_sidebar_user span{
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    top: 20%;
    display: inline-block;
}
ul.dashboard_menu_lists{
    
    margin-top: 20px;
}
ul.dashboard_menu_lists li{
    padding: 15px 15px;
    text-transform: uppercase;
}
ul.dashboard_menu_lists li a{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 20px;
}
 
ul.dashboard_menu_lists li.menuActive{
    background: pink;
    color: black;
}

ul.dashboard_menu_lists li:hover{
    background: pink;
    color: black;
    transition: 0.3s all;
}
div.dashboard_topnav{
    background: whitesmoke;
    padding: 20px;
}
div.dashboard_topnav a{
    color: black;
    font-size: 18px;
    text-decoration: none;
}
a#LogoutBtn{
    float: right;
}
div.dashboard_content{
    padding: 50px 10px 10px 10px;

}
div.dashboard_content_main{
    background: whitesmoke;
    min-height: 800px;
    height: 100%;
}

div#errorMessage{
    background: whitesmoke;
    text-align: center;
    color: red;
    font-size: 20px;
    padding: 11px;
}